@using Ofqual.Recognition.Frontend.Web.ViewModels
@using Ofqual.Recognition.Frontend.Core.Helpers
@model QuestionViewModel

@{
    var textInput = Model?.QuestionContent?.FormGroup?.TextInput;
    var textInputs = textInput?.TextInputs;
}

@if (textInputs != null && textInputs.Any())
{
    <fieldset class="govuk-fieldset">
        
        @if (!string.IsNullOrEmpty(textInput?.Heading?.Text))
        {
            var labelSize = Model?.QuestionContent?.Heading != null ? textInput.Heading.Size : "l";
            var headingText = textInput.Heading.Text;

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--@labelSize">
                @if (Model?.QuestionContent?.Heading == null)
                {
                    <h1 class="govuk-fieldset__heading">@headingText</h1>
                }
                else
                {
                    @headingText
                }
            </legend>
        }

        @foreach (var item in textInputs)
        {
            var value = ViewHelpers.GetAnswerValue(item?.Name, Model?.AnswerJson);
            var error = Model?.Errors?.FirstOrDefault(e => e.PropertyName == item?.Name);
            var hasError = error != null;
            var errorId = $"{item?.Name}-error";
            var hintId = $"{item?.Name}-hint";

            var describedByParts = new List<string>();
            if (!string.IsNullOrWhiteSpace(item?.Hint)) describedByParts.Add(hintId);
            if (hasError) describedByParts.Add(errorId);
            var describedBy = string.Join(" ", describedByParts);

            <div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")">
                <label class="govuk-label govuk-label--s" for="@item?.Name">
                    @item?.Label
                </label>

                @if (!string.IsNullOrEmpty(item?.Hint))
                {
                    <div id="@hintId" class="govuk-hint">
                        @item.Hint
                    </div>
                }

                @if (hasError)
                {
                    <p id="@errorId" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> @error?.ErrorMessage
                    </p>
                }

                <input class="govuk-input @(hasError ? "govuk-input--error" : "")" id="@item?.Name" name="@item?.Name"
                    type="text" value="@value" aria-describedby="@describedBy" @(item.Disabled ? "disabled" : "")
                    maxlength="@item.Validation?.MaxLength" minlength="@item.Validation?.MinLength"
                    pattern="@item.Validation?.Pattern" />
            </div>
        }
    </fieldset>
}