@using Ofqual.Recognition.Frontend.Web.ViewModels
@model QuestionViewModel

@{
    var textbox = Model?.QuestionContent?.FormGroup?.TextBox;
    var maxWords = textbox?.Validation?.MaxLength;
    var infoId = $"{textbox?.Name}-info";
}

@if (textbox is not null)
{
    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxwords="@maxWords">

        @if (!string.IsNullOrEmpty(textbox.Label))
        {
            <label class="govuk-label govuk-label--@((Model?.QuestionContent?.Title != null ? "m" : "l"))" for="@textbox.Name">
                @textbox.Label
            </label>
        }

        @if (!string.IsNullOrEmpty(textbox.Hint))
        {
            <div id="qualifications-hint" class="govuk-hint">
                @textbox.Hint
            </div>
        }

        <textarea class="govuk-textarea govuk-js-character-count" id="@textbox.Name" name="@textbox.Name"
            rows="@textbox.Rows" spellcheck="@textbox.SpellCheck?.ToString().ToLower()" aria-describedby="@infoId">
                </textarea>

        @if (maxWords.HasValue)
        {
            <div id="@infoId" class="govuk-hint govuk-character-count__message">
                You can enter up to @maxWords words
            </div>
        }
    </div>
}