@using Ofqual.Recognition.Frontend.Web.ViewModels
@using Ofqual.Recognition.Frontend.Core.Constants
@using Ofqual.Recognition.Frontend.Core.Helpers
@model QuestionViewModel
@{
    var currentPath = Context.Request.Path + Context.Request.QueryString;
}

@if (Model.TaskReviewSection != null && Model.TaskReviewSection.Any())
{
    @foreach (var taskSection in Model.TaskReviewSection)
    {
        <h2 class="govuk-heading-m">@taskSection.SectionName</h2>
        @foreach (var group in taskSection.TaskGroups)
        {
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        @group.SectionHeading
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        @foreach (var question in group.QuestionAnswers)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @question.QuestionText
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <ul class="govuk-list govuk-list">
                                        @foreach (var answer in question.AnswerValue)
                                        {
                                            <li>@answer</li>
                                        }
                                    </ul>
                                </dd>

                                @if (!(bool)(ViewData["ApplicationReadOnly"] ?? false))
                                {
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link"
                                            href="@($"{RouteConstants.ApplicationConstants.APPLICATION_PATH}/{question.QuestionUrl}?redirectUrl={currentPath}")">
                                            Change<span class="govuk-visually-hidden">@question.QuestionText</span>
                                        </a>
                                    </dd>
                                }
                            </div>
                        }
                    </dl>
                </div>
            </div>
        }
    }
}