@using Ofqual.Recognition.Frontend.Core.Extensions
@using Ofqual.Recognition.Frontend.Core.Models
@using Ofqual.Recognition.Frontend.Web.ViewModels
@using Ofqual.Recognition.Frontend.Core.Helpers
@using Ofqual.Recognition.Frontend.Core.Enums
@model QuestionViewModel

@{
    var fileUpload = Model?.QuestionContent?.FormGroup?.FileUpload;
    var fieldName = fileUpload?.Name ?? "files";
    var label = fileUpload?.Label;
    var allowMultiple = fileUpload?.AllowMultiple ?? true;

    var labelText = label?.Text ?? "Upload files";
    var labelTag = label?.Size.ToHeadingTag();
    var labelClass = label?.Size.ToGovUkLabelClass();

    var sizeCountId = $"{fieldName}-size-count";
    var countId = $"{fieldName}-count";
    var fileListId = $"{fieldName}-list";
    var ariaStatusId = $"{fieldName}-aria-status";
    var currentQuestion = UrlHelper.Parse(Model?.CurrentQuestionUrl);
}

@if (fileUpload != null)
{
    <div class="govuk-form-group">
        <text>
            @Html.Raw($"<{labelTag} class=\"govuk-label-wrapper\">" +
                      $"<label class=\"govuk-label {labelClass}\" for=\"{fieldName}\">{labelText}</label>" +
                      $"</{labelTag}>")
        </text>

        <p class="govuk-body" aria-live="polite" id="@sizeCountId"></p>

        <div class="govuk-drop-zone" data-module="govuk-file-upload">
            <input class="govuk-file-upload"
                   id="@fieldName"
                   name="@fieldName"
                   type="file"
                   @(allowMultiple ? "multiple" : null) />
        </div>
    </div>

    <div class="govuk-inset-text govuk-!-display-none" aria-live="polite" id="@countId"></div>

    <div id="@ariaStatusId" class="govuk-visually-hidden" aria-live="assertive" aria-atomic="true"></div>

    <ul class="ofqual-file-list" id="@fileListId" role="list"></ul>
    
    @if (fileUpload != null)
    {
        <ul class="ofqual-file-list" id="@fileListId-noscript" role="list">
            @foreach (var attachment in Model?.Attachments ?? new List<AttachmentDetailsViewModel>())
            {
                var fileId = attachment.AttachmentId;
                var readableSize = Math.Round((double)attachment.FileSize / (1024 * 1024), 1);

                <li class="ofqual-file-list__item @(attachment.IsInOtherCriteria ? "ofqual-file-list__item--advisory" : "")" role="listitem" id="@fileId">
                    <div class="ofqual-file-list__header">
                        <a href="@Url.Action("DownloadFile", "FileUpload", new {
                                taskNameUrl = currentQuestion!.Value.taskNameUrl,
                                questionNameUrl = currentQuestion!.Value.questionNameUrl,
                                attachmentId = fileId
                            })"
                        class="ofqual-file-list__name govuk-link file-download-link">
                            @attachment.FileName
                            <span class="govuk-visually-hidden"> - download file</span>
                        </a>
                        <span class="ofqual-file-list__size">@readableSize MB</span>
                    </div>

                    <div class="ofqual-file-list__footer">
                        <div class="ofqual-file-list__progress-wrapper ofqual-file-list__progress-wrapper--green">
                            <div class="ofqual-file-list__progress-bar ofqual-file-list__progress-bar--green" style="width: 100%;"></div>
                        </div>

                        <button type="submit"
                                formaction="@Url.Action("DeleteFile", "FileUpload", new {
                                    taskNameUrl = currentQuestion!.Value.taskNameUrl,
                                    questionNameUrl = currentQuestion!.Value.questionNameUrl,
                                    attachmentId = fileId
                                })"
                                formmethod="post"
                                class="ofqual-file-list__action-button govuk-link file-remove-link">
                            Remove<span class="govuk-visually-hidden"> @attachment.FileName</span>
                        </button>
                    </div>

                    <div class="ofqual-file-list__status" aria-live="@(attachment.IsInOtherCriteria ? "alert" : "polite")">@(attachment.IsInOtherCriteria ? "This file name is already used in another section. You can continue to use it again, or remove it if you made a mistake." : "Upload complete")</div>
                </li>
            }
        </ul>
    }
}