@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Ofqual.Recognition.Frontend.Core.Extensions
@using Ofqual.Recognition.Frontend.Core.Models
@using Ofqual.Recognition.Frontend.Web.ViewModels
@using Ofqual.Recognition.Frontend.Core.Helpers
@using Ofqual.Recognition.Frontend.Web.Stores
@using Ofqual.Recognition.Frontend.Core.Enums
@model QuestionViewModel

@{
    var fileUpload = Model?.QuestionContent?.FormGroup?.FileUpload;
    var fieldName = fileUpload?.Name ?? "files";
    var label = fileUpload?.Label;
    var allowMultiple = fileUpload?.AllowMultiple ?? true;

    var labelText = label?.Text ?? "Upload files";
    var labelTag = label?.Size.ToHeadingTag();
    var labelClass = label?.Size.ToGovUkLabelClass();

    var sizeCountId = $"{fieldName}-size-count";
    var countId = $"{fieldName}-count";
    var fileListId = $"{fieldName}-list";
    var ariaStatusId = $"{fieldName}-aria-status";
    var currentQuestion = QuestionUrlHelper.Parse(Model?.CurrentQuestionUrl);

    var linkedAttachments = AttachmentStore.GetAll(HttpContextAccessor.HttpContext?.Session.Id, Model?.QuestionId);
}

@if (fileUpload != null)
{
    <div class="govuk-form-group">
        <text>
            @Html.Raw($"<{labelTag} class=\"govuk-label-wrapper\">" +
                      $"<label class=\"govuk-label {labelClass}\" for=\"{fieldName}\">{labelText}</label>" +
                      $"</{labelTag}>")
        </text>

        <p class="govuk-body" aria-live="polite" id="@sizeCountId"></p>

        <div class="govuk-drop-zone" data-module="govuk-file-upload">
            <input class="govuk-file-upload"
                   id="@fieldName"
                   name="@fieldName"
                   type="file"
                   @(allowMultiple ? "multiple" : null) />
        </div>
    </div>

    <div class="govuk-inset-text govuk-!-display-none" aria-live="polite" id="@countId"></div>

    <div id="@ariaStatusId" class="govuk-visually-hidden" aria-live="assertive" aria-atomic="true"></div>

    <ul class="ofqual-file-list" id="@fileListId" role="list"></ul>
    
    @if (fileUpload != null)
    {
        <ul class="ofqual-file-list" id="@fileListId-noscript" role="list">
            @foreach (var kvp in linkedAttachments)
            {
                var fileId = kvp.Key;
                var attachment = kvp.Value;
                var readableSize = Math.Round((double)attachment.FileSize / (1024 * 1024), 1);

                <li class="ofqual-file-list__item" role="listitem" id="@fileId">
                    <div class="ofqual-file-list__header">
                        <a href="@Url.Action("DownloadFile", "FileUpload", new {
                                taskNameUrl = currentQuestion!.Value.taskNameUrl,
                                questionNameUrl = currentQuestion!.Value.questionNameUrl,
                                fileId = fileId
                            })"
                        class="ofqual-file-list__name govuk-link file-download-link">
                            @attachment.FileName
                            <span class="govuk-visually-hidden"> - download file</span>
                        </a>
                        <span class="ofqual-file-list__size">@readableSize MB</span>
                    </div>

                    <div class="ofqual-file-list__footer">
                        <div class="ofqual-file-list__progress-wrapper ofqual-file-list__progress-wrapper--green">
                            <div class="ofqual-file-list__progress-bar ofqual-file-list__progress-bar--green" style="width: 100%;"></div>
                        </div>
                        <form method="post"
                            asp-action="DeleteFile"
                            asp-controller="FileUpload"
                            asp-route-taskNameUrl="@currentQuestion!.Value.taskNameUrl"
                            asp-route-questionNameUrl="@currentQuestion!.Value.questionNameUrl"
                            class="inline-delete-form">

                            @Html.AntiForgeryToken()
                            <input type="hidden" name="fileId" value="@fileId" />

                            <button type="submit" class="ofqual-file-list__action govuk-link file-remove-link">
                                Remove<span class="govuk-visually-hidden"> @attachment.FileName</span>
                            </button>
                        </form>
                    </div>

                    <div class="ofqual-file-list__status" aria-live="polite">Upload complete</div>
                </li>
            }
        </ul>
    }
}