@model Ofqual.Recognition.Frontend.Core.Models.EligibilityModel

@{
    ViewData["Title"] = "Apply to have your qualifications recognised";
    ViewData["HeaderTitle"] = "Apply to have your qualifications recognised";
}

<link rel="stylesheet" href="~/css/progress_bar.css" asp-append-version="true">

@section BackLink {
    <a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="progress">
            <span class="govuk-caption-l">Question 3 of 3</span>
            <div class="progress__bar">
                <div class="bar__progress" style="width: 100.00%;"></div>
            </div>
        </div>
                @*
                <div class="progress__bar">
                    <div class="bar__segment" style="width: 33.33%;"></div>
                    <div class="bar__segment gap"></div>
                    <div class="bar__segment" style="width: 33.33%;"></div>
                    <div class="bar__segment gap"></div>
                    <div class="bar__segment" style="width: 33.33%;"></div>
                </div>
                <div class="progress__labels">
                    <span class="progress__link govuk-caption-l">
                        <svg class="progress__icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="6" stroke="currentColor" stroke-width="2" fill="none" />
                            <circle cx="8" cy="8" r="6" fill="currentColor" />
                        </svg>
                        Question 1
                    </span>
                    <span class="progress__link govuk-caption-l">
                        <svg class="progress__icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="6" stroke="currentColor" stroke-width="2" fill="none" />
                            <circle cx="8" cy="8" r="6" fill="currentColor" />
                        </svg>
                        Question 2
                    </span>
                    <span class="progress__link progress__link--active govuk-caption-l">
                        <svg class="progress__icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="6" stroke="currentColor" stroke-width="2" fill="none" />
                            <path d="M8 2 A6 6 0 0 0 8 14 L8 8 Z" fill="currentColor" />
                        </svg>
                        Question 3
                    </span>
                </div>
                *@
        <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
            <form method="post">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do you intend to make qualifications available to learners in England?
                        </h1>
                    </legend>
                    @if (ViewData.ModelState["questionThree"]?.Errors?.Any() == true)
                    {
                        <span class="govuk-error-message">
                            @ViewData.ModelState[string.Empty]?.Errors.FirstOrDefault()?.ErrorMessage
                        </span>
                    }
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="yes" name="questionThree" type="radio" value="Yes" @(Model.QuestionThree == "Yes" ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="no" name="questionThree" type="radio" value="No" @(Model.QuestionThree == "No" ? "checked" : "")>
                            <label class="govuk-label govuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
                <br />
                @Html.AntiForgeryToken()
                <button type="submit" class="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</div>