@model Ofqual.Recognition.Frontend.Core.Models.EligibilityModel

@{
    ViewData["Title"] = "Apply to have your qualifications recognised";
    ViewData["HeaderTitle"] = "Apply to have your qualifications recognised";
}

<h1 class="govuk-heading-l">Check your answers</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Do you award or intend to award qualifications?
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-quarter" style="text-align: center">
                    @Model.QuestionOne
                </dd>
                <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                    <a class="govuk-link" href="@Url.Action("QuestionOne", new { returnUrl = Url.Action("QuestionCheck") })">Change<span class="govuk-visually-hidden"> Question One</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Is your organisation based in the UK, Gibraltar or a European Union or European Free Trade Association member state, or if not, does your organisation have a substantial presence in one of those territories?
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-quarter" style="text-align: center">
                    @Model.QuestionTwo
                </dd>
                <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                    <a class="govuk-link" href="@Url.Action("QuestionTwo", new { returnUrl = Url.Action("QuestionCheck") })">Change<span class="govuk-visually-hidden"> Question Two</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Do you intend to make qualifications available to learners in England?
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-quarter" style="text-align: center">
                    @Model.QuestionThree
                </dd>
                <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
                    <a class="govuk-link" href="question-three">Change<span class="govuk-visually-hidden"> Question Three</span></a>
                </dd>
            </div>
        </dl>
        <form method="post" asp-action="QuestionSubmit">
            @Html.AntiForgeryToken()
            <button type="submit" class="govuk-button">Continue</button>
        </form>
    </div>
</div>